.table {
    background-color: white;
    width: 100%;
    max-width: 100%;
}

.usersList {
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    width: auto;
    background-color: white;
    height: auto;
    max-height: 700px;
    border: none;
}

.users {
    margin-inline: 20px;
    width: 70%;
}

.filter {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 30%;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 12px 10px 12px 25px;
    border: 1px solid rgb(187, 187, 187);
    margin-bottom: 12px;
    margin: 20px;
}

.editButton {
    display: flex;
    justify-content: center;
    background-position: 100px;
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 3px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
}

.editButton:hover {
    background-color: royalblue;
}

.buttonCell {
    width: 70px;
    height:auto;
    justify-content: center;
    align-items: center;
    margin: 0;
}